@font-face {
    font-family: "Metropolis";
    src: url("../fonts/Metropolis-Thin.ttf");
}

body {
    background-color: var(--back-color);
    font-family: "Metropolis";
    height: 100vh;
    overflow: hidden;
}

p {
    margin-block-start: 0px;
    margin-block-end: 0px;
}

hr {
    border-color: black;
}

:root {
    --back-color: #BBE7E6;
    --panel-color-selected: #009AA6;
    --panel-color-deselected: #006265;
    --deselected-secondary-tone: #002D36;
    --off-white: #F3F3F3;
    --llm-green: #32D17E;
}

.pane {
    display: flex;
    flex-direction: column;
    background: var(--panel-color-selected);
    position: absolute;
    top: 0px;
    right: 0px;
    width: clamp(200px, 20%, 400px);
    height: 100%;
    overflow-y: scroll;
}

.selector {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#shield-panel {
    height: 100%;
}

.panel-option {
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    text-align: center;
    padding-bottom: 10px;
}

.panel-option textarea {
    width: 80%;
    max-width: 100%;
    height: 100px;
}

.segmented-control-bar {
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: space-evenly;
}

.segmented-control-bar input {
    display: none;
}

.segmented-control-bar label {
    background-color: var(--panel-color-deselected);
    text-align: center;
    padding: 10px;
    width: 100%;
    height: 100%;
}

#extraction-radio + label {
        border-radius: 20px 0px 0px 20px;
}

#OCR-radio + label {
        border-radius: 0px 20px 20px 0px;
}

[name~="PDF-segment-input"]:checked + label {
  background-color: var(--deselected-secondary-tone);
}

#filter-on-radio + label {
        border-radius: 0px 20px 20px 0px;
}

#filter-off-radio + label {
        border-radius: 20px 0px 0px 20px;
}

[name~="filter-segment-input"]:checked + label {
  background-color: var(--deselected-secondary-tone);
}

#LLM-filter-on-radio + label {
        border-radius: 0px 20px 20px 0px;
}

#LLM-filter-off-radio + label {
        border-radius: 20px 0px 0px 20px;
}

[name~="LLM-filter-segment-input"]:checked + label {
  background-color: var(--deselected-secondary-tone);
}

#anon-panel {
    display: flex;
    flex-direction: column;
    height: 100%;
    color: white;
    text-align: center;
    justify-items: center;
}

.selector img {
    width: clamp(25px, 18%, 100px);
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.selector img.deselected {
    background: var(--panel-color-deselected);
}

.chat {
    overflow-y: scroll;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    width: calc(100% - clamp(200px, 20%, 400px));
    align-items: center;
}

.chat secret {
    display: none;
}

.chat::-webkit-scrollbar {
    width: 0px; /* For vertical scrollbars */
    height: 0px; /* For horizontal scrollbars */
}

#spacer {
    padding-top: 180px;
}

div.user-text-box, div.llm-text-box, div.filtered-text-box, #user-input-box {
    font-size: 100%;
    font-weight: bold;
    text-align: left;
    word-break: break-word;
    border-radius: 25px;
    padding: 10px;
    margin-bottom: 20px;
}

.user-text-box {
    width: 40%;
    background: var(--off-white);
    margin-left: 40%;

}

.llm-text-box {
    width: 70%;
    background: var(--llm-green);
    margin-right: 10%;
}

.filtered-text-box {
    width: 70%;
    background: red;
    margin-right: 10%;
}

.llm-text-box-data-panel {
    font-size: 100%;
    font-weight: bold;
    text-align: left;
    word-break: break-word;
    border-radius: 25px;
    padding: 10px;
    margin-bottom: 20px;
    width: 70%;
    background: var(--llm-green);
}

.user-input {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: calc(100% - clamp(200px, 20%, 400px));
    justify-content: center;
    position: absolute;
    bottom: 5%;
    left: 0px;
}

#user-input-box {
    font-family: inherit;
    font-size: inherit;
    field-sizing: content;
    resize: none;
    spellcheck: true;
    text-align: left;
    background: var(--off-white);
    width: 70%;
}

.file-upload-label img {
    padding-left: 10px;
    padding-bottom: 20px;
    height: 35px;
    width: 35px;
    cursor: pointer;
    margin-right: 8px;
    vertical-align: middle;
}

#user-input-box:focus {
    outline: none;
}

.footer {
    font-size: 50%;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: var(--panel-color-deselected);
    width: calc(100% - clamp(200px, 20%, 400px));
}